h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.3rem;
  padding: 1rem 0;
}
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 18rem;
  width: 100%;
}
.checked {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 1.3rem;
  font-weight: bold;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.center {
  justify-content: center;
}
